<app-botao (click)="abrirModal()" class="botao-adicionar-transacao">
    <img src="icones/moeda.svg" alt="" class="icone-moeda">
    Adicionar transação
</app-botao>
<app-modal [(aberta)]="modalAberta">
    <ng-container modalCabecalho>
        <img src="icones/moeda.svg" alt="">
        <h2 class="text-x1">Adicionar transação</h2>
    </ng-container>
    <form class="form text-md" (ngSubmit)="aoSubmeter()" ngNativeValidate>
        <label class="label-grupo">
            Nome da transação
            <input class="input" type="text" name="nome-transacao" [(ngModel)]="novaTransacaoForm.nome">
        </label>

        <fieldset class="grupo-tipo-transacao" required>
            <legend class="legend">Tipo da transação</legend>
            @for (tipo of tiposTransacoes | keyvalue; track tipo.key) {
                <label class="label-grupo-radio">
                    <input type="radio" [value]="tipo.value" name="tipo-transacao" [(ngModel)]="novaTransacaoForm.tipo" required>
                    {{ tipo.value }}
                </label>
            }
        </fieldset>

        <label class="label-grupo">
            Valor
            <input class="input" type="number" name="valor-transacao" min="0.01" step="0.01" placeholder="R$ 500,00" [(ngModel)]="novaTransacaoForm.valor" required>
        </label>

        <label class="label-grupo">
            Data da transação
            <input class="input" type="date" name="data-transacao" [(ngModel)]="novaTransacaoForm.data" required>
        </label>

        <label class="label-grupo">
            Conta Bancária
            <select name="conta-transacao" class="input select-conta-transacao" [(ngModel)]="novaTransacaoForm.conta" required>
                <option value="" selected disabled>Selecione a conta</option>
                @for (conta of contas(); track conta.nome) {
                    <option [value]="conta.nome">{{conta.nome}}</option>
                }
                @empty {
                    Sem contas cadastradas
                }
            <!-- <select name="conta-transacao" class="input select-conta-transacao" [(ngModel)]="novaTransacaoForm.conta" required>
                <option value="" selected disabled>Selecione a conta</option>
                <option value="Anybank">Anybank</option>
                <option value="Bytebank">Bytebank</option>
            </select> -->
            </select>
        </label>
        <app-botao class="botao-adicionar-transacao">
            Adicionar
        </app-botao>
    </form>
</app-modal>